 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

@mixin border{
  border: 1px solid red;
}

.hero-unit {
  @include outer-container;
  height: 800px;
  @include border;
  #title {
    @include span-columns(12);
    height: 100px;
    background-color: yellow;
    text-align: center;
  }
  #hipsterpic {
    @include span-columns(3);
    background-color: green;
    height: 300px;

  }
  #surveybox {
    @include span-columns(6);
    background-color: orange;
    height: 600px;
    text-align: center;
    h2 {
      text-align: center;
    }
    .survey {
      text-align: center;
    }
    .submitbutton {
      @include button(shiny, #ff0000);
      margin-top: 20px;
    }
  }
  #redneckpic {
    @include span-columns(3);
    background-color: blue;
    height: 300px;
  }
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}
