 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

@mixin border{
  border: 1px solid red;
}

.hero-unit {
  @include outer-container;
  height: 700px;
  @include border;
  #title {
    @include span-columns(12);
    height: 100px;
    background-color: yellow;
    text-align: center;
  }
  #hipsterpic {
    @include span-columns(3);
    background-color: green;
    height: 600px;

  }
  #surveybox {
    @include span-columns(6);
    background-color: orange;
    height: 600px;
    text-align: center;
    h2 {
      text-align: center;
    }
    .survey {
      text-align: center;
    }
    .submitbutton {
      @include button(shiny, #ff0000);
      margin-top: 20px;
    }
  }
  #redneckpic {
    @include span-columns(3);
    background-color: blue;
    height: 600px;
  }
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}
.redneck-unit {
  @include outer-container;
  height: 700px;
  background-color: green;
  display: none;
  #gameleft {
    @include span-columns(5);
    height: 150px;
    border: 1px solid black; 
    .attack {
      @include button(shiny, #ff0000);
    }
  }
  #healthright {
    @include span-columns(5);
    height: 150px;
    border: 1px solid black; 
  }
  #track {
    @include span-columns(12);
    height: 100px;
    background-color: red;
    margin-top: 200px;
    #lawnmower {
      height: 100px;
      width: 100px;
      background-color: black;
    }
    #lawnmower.activeone {
      margin-left: 700px; 
    }
  }
}
.hipster-unit {
  @include outer-container;
  height: 700px;
  background-color: blue;
  display: none;
}
